/* Light */
:root {
  --sys_base_color_red: rgb(255, 59, 48);
  --sys_base_color_light-red: rgb(255, 45, 85);
  --sys_base_color_blue: rgb(0, 122, 255);
  --sys_base_color_light-blue: rgb(90, 200, 250);
  --sys_base_color_heavy-blue: rgb(88, 86, 214);
  --sys_base_color_gray: rgb(142, 142, 147);
  --sys_base_color_green: rgb(52, 199, 89);
  --sys_base_color_orange: rgb(255, 149, 0);
  --sys_base_color_purple: rgb(175, 82, 222);
  --sys_base_color_yellow: rgb(255, 204, 0);

  --sys_title: rgba(0, 0, 0, .85);
  --sys_primary-text: rgba(0, 0, 0, .65);
  --sys_secondary-text: rgba(0, 0, 0, .45);
  --sys_third-text: rgba(0, 0, 0, .30);
  --sys_disable: rgba(0, 0, 0, .25);
  --sys_border: rgba(0, 0, 0, .15);
  --sys_dividers: rgba(0, 0, 0, .09);

  --sys_table-header: rgba(0, 0, 0, .02);
  --sys_code-background: #f7f7f7;
  --sys_base_background: white;
  --sys_page_background: white;
  --sys_component_background: #f7f7f7;
  --sys_shadow: rgba(223, 225, 230, 0.8);
  --sys_func-btn: #fafbfc;
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --sys_base_color_red: rgb(255, 69, 58);
    --sys_base_color_light-red: rgb(255, 55, 95);
    --sys_base_color_blue: rgb(10, 132, 255);
    --sys_base_color_light-blue: rgb(100, 210, 255);
    --sys_base_color_heavy-blue: rgb(94, 92, 230);
    --sys_base_color_gray: rgb(152, 152, 157);
    --sys_base_color_green: rgb(48, 209, 88);
    --sys_base_color_orange: rgb(255, 159, 10);
    --sys_base_color_purple: rgb(191, 90, 242);
    --sys_base_color_yellow: rgb(255, 214, 10);

    --sys_title: rgba(255, 255, 255, 1);
    --sys_primary-text: rgba(255, 255, 255, .85);
    --sys_secondary-text: rgba(255, 255, 255, .65);
    --sys_third-text: rgba(255, 255, 255, .50);
    --sys_disable: rgba(255, 255, 255, .45);
    --sys_border: rgba(255, 255, 255, .25);
    --sys_dividers: rgba(255, 255, 255, .15);

    --sys_table-header: rgba(0, 0, 0, .02);
    --sys_code-background: #f7f7f7;
    --sys_base_background: #2c2d2c;
    --sys_page_background: #363736;
    --sys_component_background: #454645;
    --sys_shadow: rgba(223, 225, 230, 0.8);
    --sys_func-btn: #2c2d2c;
  }
}

[data-theme="dark"] {
  --sys_base_color_red: rgb(255, 69, 58);
  --sys_base_color_light-red: rgb(255, 55, 95);
  --sys_base_color_blue: rgb(10, 132, 255);
  --sys_base_color_light-blue: rgb(100, 210, 255);
  --sys_base_color_heavy-blue: rgb(94, 92, 230);
  --sys_base_color_gray: rgb(152, 152, 157);
  --sys_base_color_green: rgb(48, 209, 88);
  --sys_base_color_orange: rgb(255, 159, 10);
  --sys_base_color_purple: rgb(191, 90, 242);
  --sys_base_color_yellow: rgb(255, 214, 10);

  --sys_title: rgba(255, 255, 255, 1);
  --sys_primary-text: rgba(255, 255, 255, .85);
  --sys_secondary-text: rgba(255, 255, 255, .65);
  --sys_third-text: rgba(255, 255, 255, .50);
  --sys_disable: rgba(255, 255, 255, .45);
  --sys_border: rgba(255, 255, 255, .25);
  --sys_dividers: rgba(255, 255, 255, .15);

  --sys_table-header: rgba(0, 0, 0, .02);
  --sys_code-background: #f7f7f7;
  --sys_base_background: #2c2d2c;
  --sys_page_background: #3c3d3c;
  --sys_component_background: #454645;
  --sys_shadow: rgba(223, 225, 230, 0.8);
  --sys_func-btn: #2c2d2c;
}


$_sys_color_00dp_black: #2c2d2c;
$_sys_color_01dp_black: #363736;
$_sys_color_02dp_black: #3a3b3a;
$_sys_color_03dp_black: #3c3d3c;
$_sys_color_04dp_black: #3f3f3f;
$_sys_color_06dp_black: #434443;
$_sys_color_08dp_black: #454645;
$_sys_color_12dp_black: #494a49;
$_sys_color_16dp_black: #4b4c4b;
$_sys_color_24dp_black: #4d4e4d;

$_sys_color_red: var(--sys_base_color_red);
$_sys_color_light-red: var(--sys_base_color_light-red);
$_sys_color_blue: var(--sys_base_color_blue);
$_sys_color_light_blue: var(--sys_base_color_light-blue);
$_sys_color_heavy_blue: var(--sys_base_color_heavy-blue);
$_sys_color_gray: var(--sys_base_color_gray);
$_sys_color_green: var(--sys_base_color_green);
$_sys_color_orange: var(--sys_base_color_orange);
$_sys_color_purple: var(--sys_base_color_purple);
$_sys_color_yellow: var(--sys_base_color_yellow);

$_sys_title: var(--sys_title);
$_sys_primary-text: var(--sys_primary-text);
$_sys_secondary-text: var(--sys_secondary-text);
$_sys_disable: var(--sys_disable);
$_sys_border: var(--sys_border);
$_sys_dividers: var(--sys_dividers);
$_sys_background: var(--sys_background);
$_sys_table-header: var(--sys_table-header);
