@import "./color.scss";


@mixin hn($rate) {
  font-size: 2rem * $rate;
  font-weight: 700 * $rate;
}

section {
  color: $_sys_color_mid-blur-gray;
}

h1 {
  @include hn(0.9);
}

h2 {
  @include hn(0.7);
}

h3 {
  @include hn(0.5);
}

h4 {
  @include hn(0.4);
}

hr {
  border: 0;
  border-bottom: 1px solid $_sys_component_divider;
}

p {
  font-size: .9rem;
  line-height: 2;
}

/* 代码 */
pre {
  margin: 16px 0;
  padding: 16px;
  background-color: $_sys_component_code-background;
  overflow: auto;
}

code {
  padding: .3em .5em;
  font-size: .9em;
  vertical-align: middle;
  border: 1px solid $_sys_component_border;
  border-radius: 2px;
  background-color: $_sys_component_code-background;
}

code.code_inline {
  padding: 0 .5em;
}


/* 表格 */
table {
  display: block;
  width: 100%;
  background-color: $_sys_component_table-background;
  color: $_sys_component_table-color;
  font-size: 14px;
  border-collapse: collapse;
  overflow: auto;
  margin-bottom: 50px;
}

th {
  border-top: 1px solid $_sys_component_table-border;
  background-color:$_sys_color_super-light-gray;
  border-bottom: 1px solid $_sys_component_table-border;
  padding: 10px 8px;
}

td {
  border-top: 1px solid $_sys_component_table-border;
  border-bottom: 1px solid $_sys_component_table-border;
  padding: 10px 8px;
}
