@import "./color.scss";


@mixin hn($rate) {
  font-size: 2rem * $rate;
  font-weight: 700 * $rate;
}

section {
  color: var(--sys_primary-text);
}

h1 {
  @include hn(0.9);
  color: var(--sys_title);
}

h2 {
  @include hn(0.7);
  color: var(--sys_title);
}

h3 {
  @include hn(0.5);
  color: var(--sys_title);
}

h4 {
  @include hn(0.4);
  color: var(--sys_title);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--sys_dividers);
}

p {
  font-size: .9rem;
  line-height: 2;
}

/* 代码 */
pre {
  margin: 16px 0;
  padding: 16px;
  background-color: var(--sys_component_background);
  overflow: auto;
}

code {
  padding: .3em .5em;
  font-size: .9em;
  vertical-align: middle;
  border: 1px solid var(--sys_border);
  border-radius: 2px;
  background-color: var(--sys_component_background);
}

code.code_inline {
  padding: 0 .5em;
}


/* 表格 */
table {
  display: block;
  width: 100%;
  background-color: var(--sys_page_background);
  color: var(--sys_secondary-text);
  font-size: 14px;
  border-collapse: collapse;
  overflow: auto;
  margin-bottom: 50px;
}

th {
  border-top: 1px solid var(--sys_border);
  background-color: var(--sys_func-btn);
  border-bottom: 1px solid var(--sys_border);
  padding: 10px 8px;
}

td {
  border-top: 1px solid var(--sys_border);
  border-bottom: 1px solid var(--sys_border);
  padding: 10px 8px;
}
